.header {
    padding: 10px 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}